<h2><%= currency.name %> - <%= currency.symbol %></h2>

<p>Price : $<%= currency.price_usd %></p>

<p>Last updated at <%= currency.updated_at %></p>

<%= link_to "MOAR #{currency.name}", currency_path(currency) %>

<hr>
